option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebdjango.wsgi:application
  aws:elasticbeanstalk:application:environment:
    MYSQL_NAME: prowebco_omdb   
    MYSQL_USER: prowebco_hologram
    MYSQL_PASSWORD: hologram_develop
    MYSQL_HOST: proweb-corp.com
    MYSQL_PORT: 3306   
  aws:elasticbeanstalk:container:python:
    WSGIPath: omdbservice/wsgi.py
commands:  
  01_install_mysqldevel:
    command: "sudo yum -y install mysql-devel"
    leader_only: true
  02_install_gcc:
    command: "sudo yum -y install gcc"
    leader_only: true
  03_install_python3devel:
    command: "sudo yum -y install python3-devel"
    leader_only: true
  04_create_dir:
    command: mkdir -p /var/log/omdbservice-logs/ 
  